.ptr_hs-form-bar-container {
    padding: 21px 0;
    margin-bottom: 6rem;

}

.ptr_hs-form-bar-section {
    padding-bottom: 0.1rem;
    background-color: #fff;
    margin-top: -2rem;

}

.ptr_hs-form-bar-container .hs_phone .input {
    height: 1rem;
}

.mobile_view-form .hs_phone .input span {
    position: relative;
    top: -2.3rem;
    color: black;
    left: 1rem;
}

.ptr_hs-form-bar-container .hs_phone .input span {
    top: -25px !important;
    /* z-index: 1; */
    color: black;
    left: 6px;
    position: relative;
}
.hs_error_rollup{
    display: none !important;
}

.ptr_hs-form-bar-container .hs_phone .input input {
    padding-left: 42px !important;
}

.ptr_hs-form-bar-container .hs_phone .hs-error-msg {
    margin-top: -5.7rem;
}

.ptr_hs-form-bar-container span form {
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 0;
    /* top: 1rem; */

}

.ptr_hs-form-bar-container .actions {
    padding: 6px 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ptr_hs-form-bar-container form .hs-button,
.ptr_hs-form-bar-container form input[type=submit] {
    padding: 12px !important;
    border-radius: 2px !important;

}


.ptr_hs-form-bar-container span form input[type=checkbox] {
    width: 18px !important;
    height: 18px !important;
    margin-top: 10px;
}

.ptr_hs-form-bar-container form .hs-form-field label span {
    margin-left: 10px;
    position: relative;
    top: 0.7rem;
    transition: all .2s linear;

}

.ptr_hs-form-bar-container form .hs-fieldtype-phonenumber span {
    top: 0.7rem !important;
    font-size: 12px !important;

}

.ptr_hs-form-bar-container form .hs-fieldtype-phonenumber,
.ptr_hs-form-bar-container form .hs-fieldtype-phonenumber.focused label span {
    top: 0.7rem !important;

}

.ptr_hs-form-bar-container form .hs-form-field:not(:last-child) input::placeholder {
    color: transparent;
}

.ptr_hs-form-bar-container form .hs-form-field:not(:last-child) label {
    font-size: 1rem;
}

.ptr_hs-form-bar-container form .hs-form-field:not(:last-child) label span {
    top: 1.4rem;
    position: relative;
    pointer-events: none;



}

.ptr_hs-form-bar-container form .hs-form-field:not(:last-child).focused label span {
    transition: all .2s linear;
    top: 0.7rem;
}

.ptr_hs-form-bar-container form .hs-form-required {
    display: none !important;
}



.ptr_hs-form-bar-container form .legal-consent-container .hs-form-booleancheckbox-display p {
    display: inherit !important;
    width: 100%;
}


.ptr_hs-form-bar-container .hs-fieldtype-text,
.ptr_hs-form-bar-container .hs-fieldtype-phonenumber {
    width: 13rem;
    border-right: 1px solid #e2e2e2;
}

.ptr_hs-form-bar-container .hs-fieldtype-text:nth-child(1) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


.ptr_hs-form-bar-container input[type=tel],
.ptr_hs-form-bar-container input[type=text],
.ptr_hs-form-bar-container form input[type=email],
.ptr_hs-form-bar-container form input[type=password],
.ptr_hs-form-bar-container form input[type=number],
.ptr_hs-form-bar-container form input[type=file],
.ptr_hs-form-bar-container form select,
.ptr_hs-form-bar-container form textarea {
    border: none;
    outline: none;
    padding: 8.6px !important;
}


.ptr_hs-form-bar-container .hs-error-msg {
    color: #eb5757;
    margin-top: -7rem;
    background: #fff;
    border: 0.5px solid;
    border-radius: 4px;
    font-size: 11px !important;
    font-family: "Titillium Web";
    padding: 3px 9px;
    box-shadow: 0 0 4px 0 rgb(255 0 0 / 50%);
}

.ptr_hs-form-bar-container .hs-error-msg::before {
display:none;
}


.ptr_hs-form-bar-container form .legal-consent-container {
    position: absolute;
    top: 68px;
    justify-content: center;
    padding: 1rem 0 2rem;
    display: flex;
    width: 100%;
}


.ptr_mobile-modals-luncher {
    display: none;

}

.ptr_form-modal {
    display: none;
}

.grecaptcha-badge {
    display: none !important;
}

@media(max-width:992px) {
    .ptr_hs-form-bar {
        display: none;
    }

    .mobile_view-form form .hs-form-field:not(:last-child) input::placeholder {
        color: transparent;

    }

    .mobile_view-form form .hs-form-field:not(:last-child) label span {
        top: 3.1rem;
        /* font-size: 1rem; */
        position: relative;
        pointer-events: none;



    }

    .mobile_view-form form .hs-form-field:not(:last-child).focused label span {
        transition: all .2s linear;
        top: 1.5rem;
        background-color: #fff;
        /* font-size: 12px !important; */
    }

    .mobile_view-form form .hs-fieldtype-phonenumber label span {
        top: 1.5rem !important;
        font-size: 12px !important;
        background-color: #fff;

    }

    .mobile_view-form form input[type=tel] {
        padding: 1rem 1rem 1rem 4rem !important;
    }


    .mobile_view-form form .input input,
    .mobile_view-form form input[type=tel] {
        border: 1px solid #dadada !important;
        padding: 1rem;
        margin-top: 0.5rem;
        font-size: 14px;

    }

    .mobile_view-form form .legal-consent-container span p {
        width: 100%;
        display: block;
    }

    .mobile_view-form form label.hs-form-booleancheckbox-display {
        background: #EBF4FF;
        font-size: 18px;
        padding: 1rem 1.6rem 1rem 1.5rem;
        margin-bottom: 1.5rem;
    }

    .mobile_view-form form input[type=checkbox] {
        width: 18px !important;
        height: 37px !important;
        margin-right: 1rem;
    }

    .mobile_view-form .hs-form-field label span {
        margin-left: 1rem;
        color: #818181;
        font-size: 14px;

    }

    .mobile_view-form form .legal-consent-container .hs-form-booleancheckbox-display>span,
    .legal-consent-container .hs-form-booleancheckbox-display>span p {
        margin-left: 0 !important;
    }

    .ptr_mobile-modal-button h4 {
        margin: 0;
    }

    .ptr_mobile-modals-luncher {
        padding-top: 1rem;
        display: block;
    }

    .ptr_mobile_modal--button-container {
        width: 65%;
        margin: 3rem auto 1rem auto;
        display: flex;
        align-items: center;
        border-radius: 2px;
        padding: 10px 0;
        background-color: #f0f0f0;
        box-shadow: 0 0 2px 0 rgb(0 0 0 / 50%);
    }


    .ptr_mobile-modal-button {
        display: flex;
        margin: auto;

    }

    .ptr_mobile-modal-button h4 {
        font-weight: 700;
    }

    #ptr_close-btn {
        width: 28px;
        height: 20px;
        float: right;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
    }

    .ptr_mobile-modal-button svg {
        width: 2.5rem;
        margin-top: 0.3rem;

    }

    .ptr_form-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, .6);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

    .ptr_hs-form-modal-title-container h5 {
        font-weight: 700;
        font-size: 21px;
    }

    .ptr_form-modal.is-visible {
        opacity: 1;
        visibility: visible;
    }

    .ptr_form-modal_container {
        margin: auto;
        padding: 2rem 1rem;
        width: 70%;
        position: relative;
        border: 1px solid #d1d6dc;

    }

    .ptr_modal_form-contsent input {
        margin-left: 1rem;

    }

    .ptr_modal_form-contsent {
        gap: 1rem;
    }

    .ptr_modal-form-button button {
        width: 100% !important;
        margin-top: 1rem;
    }

    .ptr_hs-form-modal-title-container {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    .ptr_form-modal-content {
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        position: relative;
        padding: 10px 10px;
    }

    .ptr_form-close-button {
        width: 1rem;
        margin-top: 0.5rem;
    }


    .ptr_form-close-button span {
        margin-top: -1rem;
        fill: black;
    }

    .close-button svg {
        pointer-events: none;
    }


}

@media (max-width:500px) {
    .mobile_view-form form .legal-consent-container span p {
        font-size: 10px;
    }

    #ptr_close-btn {
        right: 2rem !important;
        top: 3.5rem !important;
    }

    .mobile_view-form form input[type=checkbox] {
        height: 22px !important;
    }
}

@media (max-width:400px) {
    .ptr_form-modal_container {
        width: 80%;
    }

    .ptr_hs-form-modal-title-container {
        padding: 0 1.5rem;
    }



}

@media (max-width:352px) {
    .ptr_mobile_modal--button-container {
        width: 80%;

    }
    .mobile_view-form form input[type=checkbox] {
        height: 38px !important;
    }
}