.desktop-vehicles-info-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: center;
    position: relative;
    z-index: 2;
    font-size: 10px;
}

.ptr_cities-dropdown {
    margin-right: 2rem;
}



.ptr_cities-dropdown select {
    width: 160px;
    border: none;
    font-size: 18px;
}

.ptr_cities-dropdown select:focus,
.ptr_cities-dropdown select:active {
    border: none !important;
    outline: none;
}

.ptr_porters-for-you-heading {
    padding-bottom: 3px;
    padding-left: 0;
}

.ptr_title-wrapper {
    padding: 4.2rem 3rem 3rem 3rem;
    justify-content: space-between;
}


.common-desktop-vehicles-info-container .tariff-fleet-wrapper {
    position: relative;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet {
    display: flex;
    margin: -3.2rem 9.6rem 0 4.6rem;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    scroll-behavior: smooth;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box {
    position: relative;
    display: inline-block;
    margin-right: 70px;
    padding-bottom: 26px;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item {
    padding: 0.5rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .img-wrapper .background {
    width: 13rem;
    height: 13rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    background: no-repeat 0 0;
    background-size: auto 28.9rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .selected .vehicle-item .img-wrapper .background {
    background-position: 0 -14.5rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .img-wrapper .selected:hover {
    transform: none;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .title {
    margin-top: 12px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    max-width: 13rem;
    white-space: normal;
    margin-left: 2rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .selected .vehicle-selector {
    width: 24px;
    height: 24px;
    background: #eaeefd;
    z-index: 0;
    position: absolute;
    transform: rotate(45deg);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: -2px -2px 1px 0 rgb(0 0 0 / 20%);
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet-navigator {
    position: absolute;
    top: 5rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet-navigator .nav-arrow {
    background-position-x: -17.18rem;
    background-size: auto 4rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .left {
    left: 5rem;
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .left .nav-arrow {
    transform: rotate(180deg);
}

.common-desktop-vehicles-info-container .tariff-fleet-wrapper .right {
    right: 5rem;
}

.ptr_cities-dropdown fieldset {
    border-radius: 2px;
    border: 1px solid;

}

.ptr_cities-dropdown legend {
    font-size: 11.5px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.54)
}

.common-desktop-vehicles-info-container .tariff-content-details {
    display: flex;
    box-shadow: -1px -2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 6rem 7.6rem;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-vehicle-img-container {
    width: 50%;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-vehicle-img-container .vehicle-img {
    max-width: 100%;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info {
    position: relative;
    padding-left: 6rem;
    width: 60%;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details .vehicle-detail-name {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    flex: 1;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details .vehicle-detail-quant {
    line-height: 1;
    font-size: 16px;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details .vehicle-detail-quant .detail-capacity {
    margin-bottom: 1rem;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare {
    display: flex;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare {
    padding: 24px 16px;
    border-radius: 4px;
    font-size: 24px;
    display: flex;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare-price {
    padding-left: 5px;
    font-weight: 600;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-conditions {
    padding-top: 2.4rem;
    font-size: 12px;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-conditions .condition-text {
    margin-bottom: 5px;
}

.MuiSvgIcon-root {
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-know-more {
    padding-top: 3rem;
}

.common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-know-more .know-more-btn {
    display: flex;
    justify-content: flex-start;
    padding: 12px 10px;
    align-items: center;
    width: 120px;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.common-desktop-vehicles-info-container .tariff-no-fleet {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2.4rem;
    padding: 2.4rem;
}

.common-desktop-vehicles-info-container .tariff-error-msg {
    color: #eb5757;
}


@media (max-width: 990px) {
    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet {
        margin: -3.2rem 6.6rem 0 0.6rem;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info {
        width: 100%;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare {
        border: none;
    }

    .ptr_title-wrapper {
        /* margin-top: -2rem; */
    }

}


@media (max-width:825px) {
    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet {
        margin: -3.2rem 0rem 0 0.6rem;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .img-wrapper .background {
        width: 10rem;
        height: 10rem;
        background-size: auto 20.9rem;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .selected .vehicle-item .img-wrapper .background {
        background-position: 0 -10.5rem;
    }

    .common-desktop-vehicles-info-container .tariff-content-details {
        padding: 6rem 2.6rem;
    }


    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box {
        margin-right: 10px;
    }

    .tariff-vehicle-img-container {
        display: none;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info {
        width: 95%;
        padding-left: 0rem;
    }

    .common-desktop-vehicles-info-container .tariff-content-details {
        padding: 26px 0 3rem 0rem;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details {
        padding-left: 2rem;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare {
        display: inherit;
        width: 100vw;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare {
        padding: 24px 16px;
        background-color: #fff;
        box-shadow: none;
        border: none !important;
        border-radius: 0px;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-conditions {
        font-size: 16px;
        padding-left: 2rem;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-know-more {
        display: flex;
        justify-content: center;
    }

    .ptr_desktop-vehicle-info-container {
        padding-top: 0px;
    }


}

@media (max-width:501px) {
    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .selected .vehicle-item .img-wrapper .background {
        background-position: 0 -7.5rem;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .img-wrapper .background {
        width: 7rem;
        height: 7rem;
        background-size: auto 14.9rem;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .title {
        margin-left: 0;

    }


    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details .vehicle-detail-name {
        font-size: 16px;
        margin-left: -0.6rem;
    }

    .ptr_title-wrapper {
        padding: 3rem 1rem;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item {
        padding: 1rem 0 0 0;
    }
}

@media (max-width:370px) {


    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box {
        margin-right: 0px;
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-vehicle-details .vehicle-detail-quant {
        line-height: 0;
        font-size: 9px;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item {
        padding: 0rem;
    }

    .ptr_cities-dropdown select {
        width: 105px;
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .title {
        max-width: 7rem;
    }
    .ptr_cities-dropdown fieldset{
        width: 11rem;
        padding: 3px;
        margin-right: -2rem;
    }


}