<div class="content-wrapper">
   <div class="ptr_desktop-vehicle-info-container">
      <div class="ptr_title-wrapper ptr_flex">
         <div class="ptr_sec_heading ptr_porters-for-you-heading">
            <div class="ptr_head_title ptr_main-headding-title">
               <h3>
                  {{ module.city_fleet_heading }}
               </h3>
            </div>
            <div class="ptr_title_bar ptr_card_slider-title_bar">
            </div>
         </div>
         <div class="ptr_cities-dropdown">
            <fieldset>
               <select>
                  {% for item in module.cities_name_dropdown %}
                  <option>
                     {{ item.city_name }}
                  </option>
                  {% endfor %}
               </select>
               <legend> {{ module.legend }}
               </legend>

            </fieldset>
         </div>
      </div>
      <div class="common-desktop-vehicles-info-container">
         <div class="tariff-fleet-wrapper">
            <div class="tariff-fleet">
            </div>
         </div>
         <div class="tariff-content-details">
            <div class="tariff-vehicle-img-container">
               <picture>
                  <img class="vehicle-img" alt="Mini Truck Ace (Helper + 1 Labour) in Bangalore"
                     src="https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/large_vehicles/tata_ace_closed-e92a36b3508e6e3b1804fd2015adbfb6c948bc35afab36699440785ed83b5b24.png"
                     style="height: auto; width: auto;">
               </picture>
            </div>
            <div class="tariff-pricing-info">
               <div class="tariff-vehicle-details">
                  <div class="vehicle-detail-name">RENT ACE (HELPER + 1 LABOUR)</div>
                  <div class="vehicle-detail-quant">
                     <div class="detail-capacity">Capacity: <b class="detail-capacity-weight">750kg</b></div>
                     <div class="detail-size">Size(LxBxH): <b class="detail-dimensions">7ft x 4.5ft x 5.5ft</b></div>
                  </div>
               </div>
               <div class="tariff-base-fare">
                  <div class="base-fare">
                     <div class="base-fare-text">Fares starting from </div>
                     <div class="base-fare-price">₹232</div>
                  </div>
               </div>
               <div class="tariff-conditions">
                  <div class="condition-text">Base fare includes 1.0 km distance and 75 minutes of time</div>
                  <div class="condition-text">Pricing may vary based on your locality.</div>
                  <div class="condition-text">Road tax, parking etc as applicable over and above ride fare.</div>
               </div>
               <div class="tariff-know-more">
               </div>
            </div>
         </div>
      </div>


   </div>
</div>


{% require_css %}
<style>
    {% scope_css %}

    .ptr_desktop-vehicle-info-container{
      {{ module.styles.spacing.desktop_spacing.css }}
    }

    .ptr_desktop-vehicle-info-container {
      background-color: {{ module.styles.vehicle_info_bg_color.color }};
    }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .title {
      color: {{ theme.global_colors.primary.color}};
    }
    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare-price {
      color: {{ theme.global_colors.primary.color}};
    }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare-price {
      {% if module.styles.base_fare_price_color.color %}
      color: {{ module.styles.base_fare_price_color.color }};
      {% endif %}
  

    }

    .ptr_cities-dropdown select {
      font-weight: 600;
      text-transform: uppercase;
      color: {{ theme.global_colors.primary.color}};
      

    }
    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-conditions {
      color: {{ module.styles.tariff_conditions_color.color }};
   }

    .common-desktop-vehicles-info-container .tariff-fleet-wrapper .tariff-fleet .vehicle-box .vehicle-item .title {
      {% if module.styles.vehicle_title_color.color %}
      color:{{ module.styles.vehicle_title_color.color }};
      {% endif %}

    }

    .common-desktop-vehicles-info-container .tariff-content-details {
      background-image: {{ module.styles.content_detail_bg_color.css }}

    }
    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-know-more .know-more-btn{
             color: {{ module.styles.know_more_button_section.button_text_color.color }} !important;
             background: {{ module.styles.know_more_button_section.gradient_field.css }};

      }

    .common-desktop-vehicles-info-container .tariff-content-details .tariff-pricing-info .tariff-base-fare .base-fare {
      background-color: {{ module.styles.base_fare_bg_color.color }};
      {{ module.styles.border_field.css }}

    }

    
    @media (max-width:768px){
       .ptr_desktop-vehicle-info-container{
         {{ module.styles.spacing.mobile_spacing.css }}
   
       }
    }


   {% end_scope_css %}
</style>
{% end_require_css %}