<div class="ptr_header_container">
  <div class="content-wrapper">
    <nav class="ptr_navBar_top ptr_flex">
      <div class="ptr_navBar_wrapper ">
        <div class="ptr_top_left ptr_flex ptr_horizontal_Spacing">
          <div class="ptr_logo">
            {% set href = module.logo_section.logo_link.url.href %}
            {% if module.logo_section.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}" {% if module.logo_section.logo_link.open_in_new_tab %}target="_blank" {% endif %}
              {% if module.logo_section.logo_link.rel %}rel="{{ module.logo_section.logo_link.rel }}" {% endif %}>
              {% if module.logo_section.logo.src %}
              <img src="{{ module.logo_section.logo.src }}" alt="{{ module.logo_section.logo.alt }}">
              {% endif %}
            </a>
          </div>
          <div class="ptr_Logotext">
            {{  module.logo_section.navbar_heading }}
          </div>
        </div>
        <div class="ptr_top_right ptr_horizontal_Spacing-join-us ptr_flex">
          <div>
            <div class="ptr__driver_image">
              {% set href = module.join_us_sec.link_driver_logo.url.href %}
              {% if module.join_us_sec.link_driver_logo.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}" {% if module.join_us_sec.link_driver_logo.open_in_new_tab %}target="_blank"
                {% endif %}
                {% if module.join_us_sec.link_driver_logo.rel %}rel="{{ module.join_us_sec.link_driver_logo.rel }}"
                {% endif %}>
                {% if module.join_us_sec.driver_logo.src %}
                <img src="{{ module.join_us_sec.driver_logo.src }}" alt="{{ module.join_us_sec.driver_logo.alt }}">
                {% endif %}
              </a>
            </div>
            {% set href = module.join_us_sec.join_us.join_us_link.url.href %}
            {% if module.join_us_sec.join_us.join_us_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}" {% if module.join_us_sec.join_us.join_us_link.open_in_new_tab %}target="_blank"
              {% endif %}
              {% if module.join_us_sec.join_us.join_us_link.rel %}rel="{{ module.join_us_sec.join_us.join_us_link.rel }}"
              {% endif %}>
              <div class="ptr_top_right_headings ptr_flex">
                <div class="ptr_heading">
                  <div>
                    {{ module.join_us_sec.heading_title_description }}
                  </div>
                </div>
                <div class="ptr_joinus">
                  <span>
                    {{ module.join_us_sec.join_us.heading_join_us }}
                  </span>
                </div>
              </div>
            </a>

          </div>
          {% if module.call_field.phone_number_ %}
          <div class="ptr_call_us ptr_flex">
            <div class="ptr_call_icon">
              {% if module.call_field.call_us_icon_image.src %}
              <img src="{{ module.call_field.call_us_icon_image.src }}"
                alt="{{ module.call_field.call_us_icon_image.alt }}">
              {% endif %}
            </div>
            <div class="ptr_contactNumber">
              {{ module.call_field.phone_number }}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>


    <nav class="ptr_navBar_bottom ptr_flex">
      <div class="ptr_navBar_wrapper ptr_navBar_bottom-wrapper ">
        <div class="ptr_bottom_left ptr_flex">
          <div class="ptr_bottom_left ptr_flex">
            {% for item in module.primary_links_navbar %}
            <div class="ptr_primarylink_1" id="Title{{loop.index}}" data-content="{{loop.index}}">
              {% set href = item.primary_link1.url.href %}
              {% if item.primary_link1.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              {% set href = href + "?title=" + "Title" + loop.index %}
              <a href="{{ href }}" {% if item.primary_link1.open_in_new_tab %}target="_blank" {% endif %}
                {% if item.primary_link1.rel %}rel="{{ item.primary_link1.rel }}" {% endif %}>
                {{ item.primary_link_text }}
              </a>
            </div>

            {% endfor %}
          </div>

          {% if module.primary_menu_optional.primary_links_2_ %}
          {% for item in module.primary_menu_optional.primary_links_navbar2 %}
          <div class="ptr_primarylink_2">
            <a href="{{ item.primary_link2.rel }}">
              {{ item.primary_link_text2 }}
            </a>
          </div>
          {% endfor %}
          {% endif %}


        </div>
        <div class="ptr_bottom_right ptr_flex">
          <div class="ptr_Support">
            {% set href = module.secondary_links.secondary_link_navbar.url.href %}
            {% if module.secondary_links.secondary_link_navbar.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}" {% if module.secondary_links.secondary_link_navbar.open_in_new_tab %}target="_blank"
              {% endif %}
              {% if module.secondary_links.secondary_link_navbar.rel %}rel="{{ module.secondary_links.secondary_link_navbar.rel }}"
              {% endif %}>
              {{ module.secondary_links.secondary_link_text }}
            </a>
          </div>

          <div class="ptr_track">
            {{module.track_order.track_order_menu}}
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>


<!-- track order pop up -->

<div class="form-popup-bg">
  <div class="form-container">
    <div class="ptr_form_heading ptr_flex">
      {{module.track_order.pop_up_heading}}
      <div id="btnCloseForm" class="close-button">
        {% icon
	name="{{ module.track_order.icon_field.name }}"
	style="{{ module.track_order.icon_field.type }}"
	unicode="{{ module.track_order.icon_field.unicode }}"
	icon_set="{{ module.track_order.icon_field.icon_set }}"
%}
      </div>
    </div>

    {% form
	form_to_use="{{ module.track_order.track_order_form.form_id }}"
	response_response_type="{{ module.track_order.track_order_form.response_type }}"
	response_message="{{ module.track_order.track_order_form.message }}"
	response_redirect_id="{{ module.track_order.track_order_form.redirect_id }}"
	response_redirect_url="{{module.track_order.track_order_form.redirect_url}}"
	gotowebinar_webinar_key="{{ module.track_order.track_order_form.gotowebinar_webinar_key }}"
%}

  </div>
</div>


<!-- track order pop up End -->



<!-- Hamburger Menu Start-->
<div class="ptr_hamburger-menu ptr_flex content-wrapper">
  <div class="ptr_leftbar">

    <div class="ptr_menu__btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class=ptr_menu_back> </div>
    <div class="ptr_mobile_logo">
      {% set href = module.logo_section.logo_link.url.href %}
      {% if module.logo_section.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}" {% if module.logo_section.logo_link.open_in_new_tab %}target="_blank" {% endif %}
        {% if module.logo_section.logo_link.rel %}rel="{{ module.logo_section.logo_link.rel }}" {% endif %}>

        {% if module.logo_section.logo.src %}
        <img src="{{ module.logo_section.logo.src }}" alt="{{ module.logo_section.logo.alt }}">
        {% endif %}
      </a>
    </div>
  </div>

  <div class="ptr_rightbar ptr_heading">
    <div class="ptr_primarylink_2 ">
      {% set href = module.menu_drive_with_us.drive_with_us_link.url.href %}
      {% if module.menu_drive_with_us.drive_with_us_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}" {% if module.menu_drive_with_us.drive_with_us_link.open_in_new_tab %}target="_blank"
        {% endif %}
        {% if module.menu_drive_with_us.drive_with_us_link.rel %}rel="{{ module.menu_drive_with_us.drive_with_us_link.rel }}"
        {% endif %}>
        {{ module.menu_drive_with_us.drive_with_us }}
      </a>
    </div>
  </div>



  <div class="ptr_menu__box">
    <div class="ptr_logo_container">
      <div class="ptr_sideBar_logo">
        {% set href = module.logo_section.logo_link.url.href %}
        {% if module.logo_section.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" {% if module.logo_section.logo_link.open_in_new_tab %}target="_blank" {% endif %}
          {% if module.logo_section.logo_link.rel %}rel="{{ module.logo_section.logo_link.rel }}" {% endif %}>

          {% if module.logo_section.logo.src %}
          <img src="{{ module.logo_section.logo.src }}" alt="{{ module.logo_section.logo.alt }}">
          {% endif %}
        </a>
      </div>
    </div>
    <div class="ptr_side_primary">
      <ul>

        {% for item in module.hamburger_list_primary_copy %}
        <li>
          {% set href = item.link_field.url.href %}
          {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" {% if item.link_field.open_in_new_tab %}target="_blank" {% endif %}
            {% if item.link_field.rel %}rel="{{ item.link_field.rel }}" {% endif %} class="ptr_menu__item">
            <div class="ptr_plink ptr_flex">
              <div class="ptr_text">{{ item.menu_list_secondary }}</div>
              <div class="ptr_arrow_icon">
                {% icon
              name="{{ module.arrow_icon.name }}"
              style="{{ module.arrow_icon.type }}"
              unicode="{{ module.arrow_icon.unicode }}"
              icon_set="{{ module.arrow_icon.icon_set }}"
            %}
              </div>
            </div>
          </a>

        </li>
        {% endfor %}

        <li>
          <div class="ptr_track_contain ptr_flex">
            <div class="ptr_track ptr_tracks">
              {{module.track_order.track_order_menu}}
            </div>
            <div class="ptr_icon_arrow">
              {% icon
              name="{{ module.arrow_icon.name }}"
              style="{{ module.arrow_icon.type }}"
              unicode="{{ module.arrow_icon.unicode }}"
              icon_set="{{ module.arrow_icon.icon_set }}"
            %}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="ptr_side_secondary">
      <ul>
        {% for item in module.hamburger_list_secondary %}
        <li>
          {% set href = item.link_field.url.href %}
          {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" {% if item.link_field.open_in_new_tab %}target="_blank" {% endif %}
            {% if item.link_field.rel %}rel="{{ item.link_field.rel }}" {% endif %} class="ptr_menu__items">
            <div class="ptr_secon ptr_flex">
              <div>{{item.menu_list_secondary }} </div>
              <div class="ptr_arrow_icons">
                {% icon
                  name="{{ module.arrow_icon.name }}"
                  style="{{ module.arrow_icon.type }}"
                  unicode="{{ module.arrow_icon.unicode }}"
                  icon_set="{{ module.arrow_icon.icon_set }}"
                %}
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="ptr_mobile_wrapper"></div>



<!-- Hamburger Menu End-->



{% require_css %}
<style>
  {% scope_css %}

  .ptr_navBar_top,
  .ptr_hamburger-menu,
  .ptr_logo_container {
    {% if  module.style.background.choice_field== "gradient" and module.style.background.gradient_field  %}
    background: {{ module.style.background.gradient_field .css }};
    {% elif module.style.background.choice_field== "color" %}
    background-color: {{ module.style.background.color_field.color }};
    {% elif module.style.background.choice_field== "none" %}
    background-color:{{ theme.header.background.color.color }};
    {% endif %}
  }

  .ptr_heading{
    background-color: {{module.style.join_us_button_section.background_color.color}}; 
    color:{{ module.style.join_us_button_section.title_color.color }}
  }


  .ptr_Logotext,
  .ptr_contactNumber{
    color:{{ theme.header.menu.text.color.color }};
  }
  .ptr_Logotext,
  .ptr_contactNumber {
    {% if module.style.text_colors.color %}
    color:{{ module.style.text_colors.color }};
    {% endif %}
  }

  .ptr_joinus{
    {{ module.style.join_us_button_section.border_field.css }};
  }

  .ptr_joinus span{
    color:{{ module.style.join_us_button_section.join_us_text_color.color }};
  }

  .close-button {
    fill:{{ module.style.anchor_links_color.color }} ;
  }

  .ptr_primarylink_1 a,
  .ptr_track,
  .ptr_side_primary ul li a{
    font-weight: 600;
    color:{{ module.style.anchor_links_color.color }};  

  }

  .ptr_Support a{
    font-weight: 500;
    color:{{ module.style.anchor_links_color.color }};  

  }

  .activeBorder a {
    color: {{theme.global_colors.primary.color}};
    border-bottom: 5px solid {{ theme.global_colors.primary.color }};
  }


  .ptr_menu__btn::after,
  .ptr_menu__btn::before,
  .ptr_menu__btn{
    background-color: {{ module.style.background.hamburger_background_color.color }}
  }

  .ptr_navBar_bottom,
  .ptr_menu__box{
    background-color: {{ module.style.background.bottom_nav_bar_background_color.color }};
  }

  .ptr_side_primary{
    background-color: {{ module.style.background.mobile_view_primary_menu_background_color.color }};
  }

  .ptr_side_secondary ul li a{
    color: {{ module.style.background.mobile_view_primary_menu_text_color.color }};
  }
  .ptr_side_primary ul li a,.ptr_side_secondary ul li a {
    text-transform: {{ module.style.text_transform }};
  }

  .ptr_text, .ptr_tracks{
    color: {{ module.style.primary_link_.color }}; 
    font-size: {{ module.style.primary_link_.size }}{{module.style.primary_link_.size_unit }};

  }

  .ptr_secon{
    color: {{ module.style.secondary_links_mobile.color }}; 
    font-size: {{ module.style.secondary_links_mobile.size }}{{module.style.secondary_links_mobile.size_unit }};
  }

  .ptr_primarylink_2 a{
    color: {{ module.style.join_us_mobile.color }}; 
    font-size: {{ module.style.join_us_mobile.size }}{{module.style.join_us_mobile.size_unit }};
  }



  {% end_scope_css %}
</style>
{% end_require_css %}


{% require_js %}
<script>


$(window).on('load', function() {
    $(".form-container .hs_phone .input").append("<span> +971 -</span>");
    $(".form-container .hs_crn .input").append("<span> CRN</span>");


});

  ///////////////////////////////////////// TRACK ORDER API //////////////////////////////////////////////////
 

  window.addEventListener('message', event => {
   if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmit') {
       var data = someAnalyticsLib(event.data.data);
     fetch('https://oms-server.staging.porter.ae/website/track_live_order_new?booking_id='+data.crn_value+'&mobile='+data.phone_value)
    .then(response => response.json())
    .then(data => {
      if(data.status === 200) {
        window.open(data.redirect_path, '_self');
      }
    })
    .catch(error => {
      console.error('Error;', error);
    });
     console.log(data);
   }
});
  
const someAnalyticsLib = function (data) {
  let crn_value = '';
  let phone_value = '';
  
  for(let i=0;i<data.length;i++) {
    if(data[i].name === 'crn') {
      crn_value = data[i].value;      
    } else if (data[i].name === 'phone') {
      phone_value = data[i].value;
    }
  }
  
  return {crn_value, phone_value};
}

</script>
{% end_require_js %}













