<div class="content-wrapper">
  <div class="ptr_img_slider">

    <div class="ptr_section ptr_flex">
      <div class="ptr_left_conten ptr_flex">
        {% for item in module.contents %}
        <div class="ptr_num_text ptr_flex">
          <div class="ptr_number_column">
            {{ item.text_field }}
          </div>
          <div class="ptr_text_column">
            <div class="ptr_heads">
              {{ item.heading }}
            </div>
            <div class="ptr_para">
              <!--               <div class="ptr_richtext-container"> -->
              {{ item.paras }}
              <!--               </div> -->
              <!--    Track field Start-->
              {% if item.track_order_ %}
              <span class="ptr_track_pop">
                {{ item.track_order_pop_up }}
              </span>
              {% endif %}
              <!--    Track field End-->

            </div>


            <!--    Button field Start-->
            {% if item.need_button_ %}
            <div class="ptr_button_sec">
              <div class="ptr_download_text">
                {{ item.download }}
              </div>
              <div class="ptr_button_images ptr_flex">
                {% for item2 in item.button_group %}
               {% set href = item2.button_link.url.href %}
                {% if item2.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                   {% if item2.button_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if item2.button_link.rel %}rel="{{ item2.button_link.rel }}"{% endif %}
                   >
                  {% if item2.button_image.src %}
                  <img src="{{ item2.button_image.src }}" alt="{{ item2.button_image.alt }}">
                  {% endif %}
                </a>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <!--   Button field End-->
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ptr_right_slider">
        <div class="ptr_main_image">
          {% if module.mobile_image.src %}
          <img src="{{ module.mobile_image.src }}" alt="{{ module.mobile_image.alt }}">
          {% endif %}

          <div class="ptr_autoplay">
            {% for item in module.image_field %}
            <div class="ptr_carosuel_img">
              {% if item.src %}
              <img src="{{ item.src }}" alt="{{ item.alt }}">
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- track order pop up -->

<div class="form-popup-bgg">
  <div class="form-container">
    <div class="ptr_form_headingg ptr_flex">
      {{module.track_order.pop_up_heading}}
      <div id="btnCloseFormm" class="close-buttonn">
        {% icon
	name="{{ module.track_order.close_icon.name }}"
	style="{{ module.track_order.close_icon.type }}"
	unicode="{{ module.track_order.close_icon.unicode }}"
	icon_set="{{ module.track_order.close_icon.icon_set }}"
%}
      </div>
    </div>

    {% form
	form_to_use="{{ module.track_order.track_order_form.form_id }}"
	response_response_type="{{ module.track_order.track_order_form.response_type }}"
	response_message="{{ module.track_order.track_order_form.message }}"
	response_redirect_id="{{ module.track_order.track_order_form.redirect_id }}"
	response_redirect_url="{{module.track_order.track_order_form.redirect_url}}"
	gotowebinar_webinar_key="{{ module.track_order.track_order_form.gotowebinar_webinar_key }}"
%}



  </div>
</div>



<!-- track order pop up End -->

{% require_css %}
<style>
  {% scope_css %}

  .ptr_img_slider{
    {% if module.style.background_type.background_choice == "color" and module.style.background_type.background_color.color %}
    background-color: {{module.style.background_type.background_color.color}};
    {% elif module.style.background_type.background_choice== "gradient" %}
    background: {{  module.style.background_type.background_gradient .css }};
    {% elif module.style.background_type.background_choice == "image" %}
    {{ module.style.background_type.backgroundimage_field.css}}
    {% endif %}

  }

  .ptr_number_column{
    color:{{ module.style.color_field.color }};
  }

  .ptr_num_text {
    {{ module.style.border_bottom.css }};
  }

  .ptr_text_column .ptr_heads{
    color: {{ module.style.card_title_.color }};
    font-size: {{ module.style.card_title_.size }}{{module.style.card_title_.size_unit }};
    font-weight:600;
  }

  .ptr_text_column .ptr_para{
    color: {{ module.style.card_contentp.color }}; 
    font-size: {{ module.style.card_contentp.size }}{{module.style.card_contentp.size_unit }};
  }

  .ptr_track_pop{
    color:{{ theme.global_colors.primary.color }};
    font-weight:600;
  }

  .ptr_download_text{
    color:{{ module.style.download_button_text.color }};
    font-weight:600;
  }

  .ptr_img_slider{
    {{ module.style.spacing.desktop_spacing.css }}
  }

  @media(max-width:992px){
    .ptr_img_slider{
      {{ module.style.spacing.mobile_spacing.css }}
    }
  }
  {% end_scope_css %}
</style>
{% end_require_css %}

{% require_js %}
<!-- slick slider cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--end slick slider cdn -->
<script>



  $('.ptr_autoplay').slick({
    autoplay: true,
    dots: false,
    autoplaySpeed: 1000,
    slidesToShow: 1,
    slidesToScroll: 1,

  });







</script>
{% end_require_js %}



