/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

.ptr_para p {
    display: inline;
  }
  
  .ptr_num_text:nth-last-child(1) {
    border-bottom: 1px solid transparent !important;
  }
  
  .ptr_section {
    padding: 0.5rem 4rem 3rem 2rem;
    margin-top: -1rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  
  .ptr_left_conten {
    flex-direction: column;
    width: 100%;
  }
  
  .ptr_num_text {
    align-items: flex-start;
    padding: 2.4rem 4px;
    width: 100%;
  }
  
  .ptr_text_column {
    margin-left: 2.4rem;
    letter-spacing: 0.7px;
  }
  
  .ptr_button_images {
    width: 350px;
    gap: 15px;
    padding-top: 1rem;
  }
  
  .ptr_button_images img {
    width: 100%;
  }
  
  .ptr_number_column {
    font-size: 64px;
    font-weight: 600;
    line-height: 49px;
  
  }
  
  .ptr_button_sec {
    padding: 3rem 0 2rem;
  }
  
  .ptr_heads {
    margin-bottom: 8px;
  }
  
  
  /* Right side mobile Slider Start */
  
  .ptr_right_slider {
    padding: 2rem 0px;
  }
  
  .ptr_main_image,
  .ptr_carosuel_img {
    position: relative;
  
  }
  
  .ptr_main_image {
    max-height: 620px;
  }
  
  .ptr_autoplay {
    position: absolute;
    top: 71px;
    left: 8.8rem;
    width: 22rem;
    overflow-x: hidden;
  }
  
  .ptr_carosuel_img {
    flex-direction: column;
    height: 682px;
  
  }
  
  .ptr_richtext-container {
    display: initial;
  }
  
  .ptr_richtext-container p {
    display: inline;
  }
  
  
  .ptr_carosuel_img img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  @media(max-width:1020px) {
    .ptr_main_image {
      position: relative;
      max-height: 570px;
      width: 482px;
    }
  
    .ptr_main_image img {
      width: 100%;
    }
  
    .ptr_autoplay {
      position: absolute;
      top: 64px;
      left: 7.8rem;
      width: 19rem;
      overflow-x: hidden;
    }
  
  }
  
  @media(max-width:992px) {
  
    .ptr_right_slider {
      display: none;
    }
  
    .ptr_section {
      padding: 10px 10px;
    }
  
    .ptr_button_images a:last-child {
      display: none;
    }
  
    .ptr_button_images {
      width: 180px;
      margin: auto;
    }
  
    .ptr_text_column {
      margin-left: 0.5rem;
    }
  
    .ptr_number_column {
      font-size: 60px;
    }
  
    .ptr_download_text {
      display: none;
    }
  
    .ptr_button_sec {
      padding: 0.5rem 0 1.5rem;
    }
  
    .ptr_num_text {
      padding: 1rem 4px;
    }
  
  }
  
  
  @media (max-width: 500px) {
    .ptr_number_column {
      font-size: 50px;
    }
  }
  
  /* POP Up Form */
  
  .ptr_track_pop {
    cursor: pointer;
  }
  
  .form-container form {
    border-top: 1px solid #f2f2f2;
    margin-top: 15px;
  }
  
  .form-popup-bgg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .form-popup-bgg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    overflow-y: auto;
    z-index: 10000;
  }
  
  .form-popup-bgg.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  .form-container {
    border-radius: 2px;
    box-shadow: 0px 24px 38px 0px rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 20rem;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 20px;
  }
  
  .close-buttonn {
    width: 15px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
  }
  
  .close-buttonn svg {
    pointer-events: none;
  }
  
  .form-popup-bgg:before {
    content: "";
    background-color: rgba(51, 51, 51, 0.6);
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* form .ptr_crnn {
  margin-bottom: 0.1rem;
  }
  
  .form-groupp {
  padding: 16px 0px;
  }
  
  .ptr_form_headingg {
  padding: 10px 0px 16px;
  justify-content: space-between;
  }
  
  .form-container input {
  border: none;
  padding: 9.5px 18px;
  }
  
  */
  /* .form-container input[type=text] {
  border: none!important;
  } */
  
  /* .form-container input:focus {
  outline: none !important;
  } */
  
  /* .ptr_crnn {
  padding-left: 5px;
  }
  
  .ptr_form_buttonn {
  border: none;
  border-radius: 2px;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: inherit;
  line-height: 100%;
  padding: 14px 0 !important;
  font-weight: 700;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 50%);
  }
  */
  
  /* POP Up Form  End*/